* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  --blue-100: #f3f5fc;
  --blue-600: #0a3871;
  --gray-100: #ffffff;
  --gray-500: #495057;
  --gray-500: #343a40;
}

body,
input,
textarea,
button {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--blue-100);
  color: var(--blue-600);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0 1.6rem;
}

li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none !important;
}

@media (min-width: 768px) {
  body {
    padding: 0 4rem;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 4rem;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}
