main {
  display: flex;
  flex-direction: column;
}

section header {
  width: 100%;
  padding: 2.4rem 0;
}

.logo {
  height: 4.8rem;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  margin-top: 5rem;
  resize: none;
  width: 100%;
  min-height: 30rem;
  border: none;
  font-size: 3.2rem;
  font-style: normal;
  line-height: 150%;
  color: var(--blue-600);
  background-color: var(--blue-100);
}

textarea::placeholder {
  color: var(--blue-500);
}

textarea:focus {
  outline: none;
}

.info {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.info img {
  width: 1.4rem;
}

.info span {
  font-size: 1.2rem;
  line-height: 150%;
}

.input-section footer {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.button {
  width: 100%;
  padding: 2.4rem;

  font-size: 1.6rem;
  line-height: normal;
  text-align: center;

  border: 1px solid var(--blue-600);
  border-radius: 2.4rem;

  cursor: pointer;

  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(0.95);
}

.button-filled {
  background-color: var(--blue-600);
  color: var(--blue-100);
}

.button-filled:hover {
  filter: brightness(1.3);
}

.output-section {
  margin-bottom: 0.8rem;
}

.no-output-container {
  margin-top: 6.4rem;
  padding: 3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  background-color: var(--gray-100);
  color: var(--gray-500);
  text-align: center;

  border-radius: 3.2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.no-output-container img {
  display: none;
}

.no-output-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 120%;
}

.no-output-container p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.output-container {
  margin-top: 6.4rem;
  padding: 3.2rem;
  min-height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;

  background-color: var(--gray-100);

  border-radius: 3.2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.output-field {
  color: var(--gray-500);
  font-size: 2.4rem;
  font-style: normal;
  line-height: 150%;
}

.auto-adjust {
  height: auto;
  //TODO fix this on javascript for mobile
}

.author {
  margin-top: 4.4rem;
  padding: 2.4rem 0;

  text-align: center;
}

@media (min-width: 768px) {
  main {
    height: 100%;
    justify-content: space-between;
  }

  section header {
    padding-top: 7.342rem;
  }

  .input-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form {
    margin-top: 8rem;
    height: 100%;
  }

  textarea {
    align-self: flex-start;
    /* height: 59rem; */
    height: auto;
  }

  .input-section footer {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    height: 90vh;
    justify-content: space-between;
    gap: 6rem;
  }

  section header {
    padding: 0;
    padding-top: 4rem;
  }

  form {
    margin-top: 8rem;
  }

  textarea {
    margin-top: 0;
    height: 2rem;
  }

  form,
  .info,
  footer {
    padding-left: 18rem;
  }

  .output-section {
    width: 100%;
    max-width: 40rem;
  }

  .no-output-container,
  .output-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 4rem;
  }

  .output-field {
    overflow-y: auto;
    padding-right: 1.6rem;
  }

  .copy-button {
    position: sticky;
  }

  .output-field::-webkit-scrollbar {
    width: 4px;
    margin-right: -1rem;
  }

  .output-field::-webkit-scrollbar-track {
    background: var(--blue-100);
  }

  .output-field:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 50, 0.1);
    border-radius: 5px;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  form,
  .info,
  footer {
    padding-left: 0;
  }

  textarea {
    margin-top: 5rem;
  }
}
